a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  #vasanth a:link {
    color: green;
    background-color: blue;
    text-decoration: none;
  }
  
 #vasanth a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  #vasanth a:hover {
    color: red;
    background-color: black;
    text-decoration: underline;
  }
  
  #vasanth a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  #vasanth1 a:link {
    color: green;
    background-color:transparent;
    text-decoration: none;
  }
  
 #vasanth1 a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  #vasanth1 a:hover {
    color: red;
    background-color: rgb(25, 248, 118);
    text-decoration: underline;
  }
  
  #vasanth1 a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
