ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#333;
    position: sticky;
}
li{
    display: inline-block;
}
li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    background-color: black;
}
button{
    background-color:#333;
    color: aliceblue;
    border: none;
    padding: 15px;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display:block;
}
.dropdown-content{
    position: absolute;
    display:none;
}
.dropdown-content a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 10px;
    background-color: lightblue;
    width: 100px;
}
.dropdown-content a:hover{
    background-color:#333;
    color:white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
