.pagi{
    display: inline-block;
}
.content a{
    color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.content a:first-child{
    border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;  
}
.content a:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.content a:hover{
    background-color: rgba(0,0,0,0.4);
}
.pagi a.active{
    background-color: green;
}
.pagi a:hover:not(.active) {background-color: #ddd;}
