h1{
    color: yellow;
    font-size: 40px;
    text-shadow:5px 5px 10px black;
}
h2{
    color: yellow;
    font-size: 40px;
    text-shadow: 1px 0 black,-1px 0 black,0 1px black,0 -1px black;
}
.box{
    background-color: lightblue;
    width: 300px;
    height: 100px;
    text-align: center;
}
.box:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),-3px 0px 10px rgba(0,0,0,0.3);
}
.box p{
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

