#img1{
    border-radius: 90px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
#img2{
    border: 2px solid black;
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}