.tooltip{
    margin: 200px;
    position: relative;
    width: 300px;
}
.tooltiptext{
    visibility: hidden;
    position: absolute;
    background-color:black;
    color:white;
    padding: 10px;
    border-radius:4px;
    left:85%;
    top: -5px;
    width: 100px;

}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    border-width: 5px;
    border-style: solid;
    border-color:transparent black transparent transparent;

}