ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
    width: 150px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}
li a{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}
a:hover{
    background-color: lightblue;
    color: black;
}
li{
    text-align: center;
}